<h1> Players </h1>

<select (change)="onChange($event.target.value)">
  <option value="Wood">Wood</option>
  <option value="Bronze">Bronze</option>
  <option value="Silver">Silver</option>
  <option value="Gold">Gold</option>
  <option value="Platinum">Plat</option>
  <option value="Diamond">Diamond</option>
</select>


<div *ngFor="let player of players | async | division:filterByDivision " class="c-card c-card--higher playerCard"><!-- I had a hard time getting all these instances to respond to class styling. It is only affecting the first one -->
  <img class="o-image" src="#" alt="{{player.name}} in their finest">
  <header class="c-card__header">
    <h2 class="c-heading">
      {{player?.name}} aka <em>{{player?.tag}}</em>
      <div class="c-heading__sub">-"{{player?.catchPhrase}}"</div>
    </h2>
  </header>
  <div class="c-card__body">
    <p class="c-paragraph">{{player.bio}}</p>
  </div>
  <footer class="c-card__footer c-card__footer--block">
    <div class="c-input-group">
      <span class="c-input-group">
        <button (click)="goToDetailsPage(player)" class="c-button c-button--brand">Player Page</button>
      </span>
    </div>
  </footer>
</div>
